* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

body {
  background-color: #f4f2e9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Yu Gothic', 'Yu Gothic Medium', 'メイリオ', 'MS ゴシック', '游ゴシック Medium', sans-serif;
}

/*ヘッダー*/
.header {
  background-color: #87c957;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

.header__inner {
  padding: 0px 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__middle {
  font-size: clamp(18px, 2vw, 20px);
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 0px 10px;
  max-width: 150px;
  min-width: 120px;
}

.header__logo img{
  width: 100%;
}

.header__menu--left {
  font-size: clamp(14px, 1.5vw, 18px);
  padding: 0px 10px;
}

.header__menu--right {
  font-size: clamp(14px, 1.5vw, 18px);
  text-align: right;
  padding: 0px 10px;
}

.header__menu-logout {
  font-size: clamp(14px, 1.5vw, 18px);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__ham-menu {
  display: none;
}

.header__menubtn {
  display: none;
}

@media screen and (max-width:768px) {
  .header__inner {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__middle {
    display: none;
  }

  .header__menu--left {
    display: none;
  }

  .header__menu--right {
    display: none;
  }

  .header__ham-menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f4f2e9;
    animation: slideIn 0.5s ease 1 normal backwards;
    padding-top: 200px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(1000px);
    }
    
    to {
      transform: translateX(0px);
    }
  }

  .header__list.active {
    padding: 0;
  }

  .header__ham-item {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    color: #87c957;
  }

  .header__menu-logout {
    font-size: 24px;
    color: #87c957;
    text-align: center;
  }

  .header__menubtn {
    display: inherit;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .header__menubtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 10px;
    height: 2px;
    background: #000000;
    width: 50%;
  }

  .header__menubtn span:nth-of-type(1) {
    top: 12px;
  }

  .header__menubtn span:nth-of-type(2) {
    top: 19px;
  }

  .header__menubtn span:nth-of-type(3) {
    top: 26px;
  }

  .header__menubtn.active span:nth-of-type(1) {
    top: 13px;
    left: 8px;
    transform: translateY(6px) rotate(-135deg);
    width: 60%;
  }

  .header__menubtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .header__menubtn.active span:nth-of-type(3) {
    top: 25px;
    left: 8px;
    transform: translateY(-6px) rotate(135deg);
    width: 60%;
  }
}

/*フッター*/
.footer {
  background-color: #3d3200;
  color: #ffffff;
  width: 100%;
  margin-top: auto;
}

.footer__content {
  padding: 30px 0px;
  width: 80%;
  margin: 0 auto;
}

.footer__txt {
  font-size: clamp(12px, 2.5vw, 20px);
  padding-bottom: 30px;
}

.footer__copyright {
  font-size: clamp(8px, 2.5vw, 14px);
  text-align: center;
}

@media screen and (max-width:768px) {
  .footer__content {
    width: 90%;
  }

  .footer__txt {
    padding-bottom: 20px;
  }
}

/*トップ画面*/
.search {
  background-color: #87c957;
}

.search__inner {
  padding: 100px 0px;
  width: 550px;
  margin: 0 auto;
}

.search__txt {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0px;
}

.search__logo {
  text-align: center;
  padding: 10px 0px;
}

.search__logo img{
  width: 80%;
}

.search__tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #87c957;
  border: 3px solid #ffffff;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  margin: 20px 0px;
}

.search__tabs label {
  display: block;
  height: 100%;
  cursor: pointer;
  width: 34%;
}

.search__tabs input:checked+label {
  background-color: #ffffff;
}

.search__tabs input {
  display: none;
}

.search__tab-text {
  font-weight: bold;
  padding-top: 8px;
}

.search__contents {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.search__tags {
  display: flex;
  flex-wrap: wrap;
}

.search__tag {
  width: 50%;
  padding-bottom: 20px;
}

.search__tag input[type=checkbox] {
  display: none;
}

.search__tag-label {
  display: inline-block;
  padding-left: 40px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.search__tag-label::before {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 5px;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  left: 10px;
  top: -2px;
}

.search__tag-label::after{
  position: absolute;
  border-right: 3px solid #87c957;
  border-bottom: 3px solid #87c957;
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  left: 16px;
  bottom: 3px;
  opacity: 0;
}

.search__tag input[type=checkbox]:checked + .search__tag-label::after {
  opacity: 1;
}

.search__btn {
  text-align: center;
}

.search__btn-form {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.search__areas {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.search__area {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 14px;
}

.search__keyword {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.search__keyword-input {
  width: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

.notice {
  padding: 40px 0px;
  width: 70%;
  margin: 0 auto;
}

.notice__ttl {
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 10px;
}

.notice__contents {
  display: flex;
  width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555555;
}

.notice__date {
  width: 30%;
}

.notice__txt {
  width: 70%;
  padding-left: 10px;
}

.concept {
  background-image: url(../images/4829554_s.jpg);
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.concept__inner {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  display: flex;
  align-items: center;
}

.concept__content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
}

.concept__content-ttl {
  font-size: clamp(16px, 2.5vw, 24px);
  padding-bottom: 20px;
}

.concept__content-txt {
  font-size: clamp(11px, 2vw, 18px);
  padding-bottom: 5px;
  line-height: 1.5;
}

.howtouse {
  padding: 20px 0px;
}

.howtouse__ttl {
  padding: 20px 0px;
}

.howtouse__ttl-text {
  font-size: clamp(20px, 3.5vw, 24px);
  padding-left: 10px;
}

.howtouse__ttl-block {
  height: 30px;
  background-color: #DAEECB;
  margin-top: -10px;
  max-width: 450px;
  width: 40vw;
  min-width: 300px;
}

.howtouse__content {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.howtouse__left {
  width: 40%;
  min-width: 300px;
}

.howtouse__left-ttl {
  font-size: clamp(20px, 2.5vw, 24px);
  margin-left: clamp(20px, 2vw, 30px);
}

.howtouse__left-ttl-block {
  height: 3px;
  background-color: #87c957;
  width: 100%;
  margin: 5px 0px;
}

.howtouse__left-text {
  margin-left: clamp(20px, 2vw, 30px);
  padding: 10px 0px;
  font-size: clamp(11px, 1.5vw, 18px);
  line-height: 1.5;
}

.howtouse__right {
  width: 40%;
  
  margin-right: clamp(20px, 2vw, 30px);
}

.howtouse__right img {
  width: 100%;
  padding: 20px 0px;
}

.howtouse__right p {
  font-size: clamp(11px, 1.5vw, 18px);
  line-height: 1.5;
}

@media screen and (max-width:768px) {
  .search__inner {
    width: 90%;
  }

  .search__logo img {
    width: 60%;
  }

  .search__txt {
    font-size: clamp(12px, 2.8vw, 18px);
  }

  .search__tabs {
    height: 10vw;
    max-height: 40px;
  }

  .search__tab-text {
    font-size: clamp(12px, 2.8vw, 16px);
  }

  .search__tags {
    display: inherit;
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .search__tag {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(14px, 2.8vw, 16px);
  }

  .search__tags.active {
    display: none;
  }

  .search__tag-label::before {
    position: absolute;
    height: 15px;
    width: 14px;
    left: 14px;
    top: -2px;
    border-radius: 5px;
  }

  .search__tag-label::after {
    position: absolute;
    border-right: 3px solid #87c957;
    border-bottom: 3px solid #87c957;
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    left: 20px;
    bottom: 3px;
    opacity: 0;
  }

  .notice {
    padding: 20px 0px;
    width: 90%;
  }

  .notice__ttl {
    padding-bottom: 5px;
  }

  .concept {
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .concept__inner {
    width: 90%;
  }

  .concept__content {
    padding-bottom: 20px;
    padding: 30px 0px;
  }

  .concept__content-ttl {
    padding-bottom: 20px;
  }

  .howtouse__ttl-text {
    font-size: clamp(20px, 4vw, 24px);
  }

  .howtouse__content {
    display: inherit;
    width: 85%;
    margin: 0 auto;
  }

    .howtouse__left {
      width: 100%;
      padding-top: 20px;
    }
  
    .howtouse__left-ttl {
      text-align: center;
      font-size: clamp(20px, 4vw, 24px);
      margin-left: 0px;
    }
  
    .howtouse__left-text {
      margin-left: 0px;
      font-size: clamp(11px, 3vw, 16px);

    }
  
    .howtouse__right {
      width: 100%;
      margin-right: 0px;
      padding: 0px;
    }
  
    .howtouse__right p {
      font-size: clamp(11px, 3vw, 16px);
    }
}

/*検索結果画面*/
.result {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.result__search {
  display: flex;
  width: 100%;
  padding: 20px 0px;
}

.result__searchtab--area {
  width: 25%;
  margin-right: 10px;
  position: relative;
}

.result__searchtab--area::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  left: 10px;
  top: 15px;
}

.result__searchbox--area {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 25px;
}

.result__searchtab--tag {
  width:  250px;
  margin-right: 10px;
}

.result__tag-first {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  font-size: 14px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.result__tag-first::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  left: 10px;
  top: 15px;
}

.result__tag-list {
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.result__searchbox--tag[type=checkbox] {
  display: none;
}

.result__tag-label {
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
  font-size: clamp(14px, 2.5vw, 16px);
}

.result__tag-label::before {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 3px;
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  left: 10px;
  top: 1px;
}

.result__tag-label::after {
  position: absolute;
  border-right: 3px solid #87c957;
  border-bottom: 3px solid #87c957;
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  left: 15px;
  top: 2px;
  opacity: 0;
}

.result__searchbox--tag[type=checkbox]:checked+.result__tag-label::after {
  opacity: 1;
}

.result__searchtab--keyword {
  width: 35%;
  margin-right: 10px;
}

.result__searchbox--keyword {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 7px;
}

.result__search-btn {
  width: 10%;
  padding-top: 2px;
}

.result__btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.result__txt {
  font-size: clamp(14px, 2vw, 18px);
  padding: 20px 0px;
  border-bottom: 5px solid #87c957;
}

.result__txt-line {
  padding-bottom: 5px;
}

.result__main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;
}

.result__shop {
  width: 260px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  margin-bottom: 30px;
}

.result__shop-img img{
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.result__shop-inner {
  padding: 10px;
}

.result__shop-ttl {
  font-size: 18px;
}

.result__shop-content {
  display: flex;
  justify-content: space-between;
}

.result__content-left {
  font-size: 12px;
  padding-top: 20px;
  width: 70%;
}

.result__fav--btn {
  width: 35px;
  padding-top: 20px;
}

.result__paginate-txt {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  font-size: 18px;
  padding: 5px 0px 10px 0px;
}

@media screen and (max-width:768px) {
  .result {
    width: 90%;
  }

  .result__search {
    display: inherit;
  }

  .result__searchtab--tag {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__searchtab--area {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__searchtab--keyword {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__search-btn {
    width: 150px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .result__btn {
    width: 100%;
    background-color: #87c957;
    color: #ffffff;
    border: 1px solid #87c957;
    border-radius: 10px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

/*詳細画面*/
.detail {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}

.detail__back-btn {
  font-size: clamp(12px, 3vw, 18px);
  padding-bottom: 30px;
}

.detail__top {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 5px solid #87c957;
}

.detail__shop-name {
  font-size: clamp(18px, 3vw, 24px);
}

.detail__fav--btn {
  max-width: 40px;
  min-width: 25px;
  width: 5vw;
  margin-left: 10px;
}

.detail__shop-top {
  display: flex;
  padding: 30px 0px;
}

.detail__shop-img {
  width: 50%;
  margin: 0 auto;
}

.detail__shop-img img{
  max-width: 700px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.detail__shop-txt {
  width: 50%;
  margin: 0 auto;
  padding-left: 40px;
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 150%;
}

.detail__shop-info {
  background-color: #ffffff;
  border-radius: 5px;
}

.detail__shop-table {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: clamp(12px, 1.5vw, 16px);
  padding: 30px 0px;
}

.detail__shop-item {
  width: 50%;
  padding: 20px;
  word-break: break-all
}

.detail__address {
  padding-bottom: 10px;
  font-size: clamp(12px, 1.5vw, 16px);
}

.detail__map iframe {
  width: 100%;
  height: 300px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail__shop-edit {
  padding: 20px 0px;
}

.detail__shop-edit a {
  border-bottom: 1px solid #000000;
}

.detail__top-calendar {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: flex-end;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.detail__ttl-calendar {
  font-size: clamp(18px, 2.5vw, 24px);
}

.detail__txt-calendar {
  padding-left: 30px;
}

.detail__calendar-inner {
  margin: 20px 0px;
  height: 400px;
  width: 100%;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 5px;
}

.detail__calendar-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}

.detail__calendar-content:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.detail__calendar-left {
  width: 50%;
}

.detail__calendar-shopheader {
  display: flex;
  align-items: center;
}

.detail__calendar-shopttl {
  font-size: clamp(14px, 3vw, 18px);
  padding: 10px 0px;
  overflow: hidden;
}

.calendar__fav--btn {
  max-width: 25px;
  min-width: 18px;
  width: 4vw;
  margin-left: 10px;
}

.detail__calendar-date {
  padding-top: 5px;
  font-size: clamp(10px, 2vw, 14px);
  line-height: 120%;
}

.detail__calendar-right {
  width: 60%;
}

.detail__calendar-comment {
  font-size: clamp(10px, 2vw, 14px);
  padding: 10px 0px;
  height: 100px;
  overflow: scroll;
}

@media screen and (max-width:768px) {
  .detail {
    width: 85%;
  }

  .detail__shop-top {
    display: inherit;
  }

  .detail__shop-txt {
    width: 100%;
    padding-left: 0px;
  }

  .detail__shop-img {
    width: 90%;
  }

  .detail__shop-table {
    display: inherit;
    padding-top: 15px;
    font-size: clamp(12px, 3vw, 14px);
  }

  .detail__shop-item {
    width: 100%;
    padding: 15px;
  }

  .detail__address {
    padding: 15px 0px;
    font-size: clamp(12px, 3vw, 14px);
  }
}

/*会員登録ページ*/
.register {
  width: 60%;
  padding-top: 100px;
  margin: 0 auto;
}

.register__ttl {
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 30px;
}

.register__content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
  margin-top: 20px;
}

.register__inner {
  margin: 0 auto;
  width: 90%;
}

.register__inner td{
  padding: 10px 0px 10px;
}

.register__content-ttl {
  width: 30%;
  padding-right: 10px;
  font-size: clamp(12px, 2vw, 16px);
  vertical-align: middle;
}

.register__content-item {
  width: 70%;
  font-size: clamp(12px, 2vw, 16px);
}

.register__content-item input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  font-size: clamp(12px, 2vw, 16px);
}

.register__btn {
  width: 100%;
  padding: 30px 0px;
}

.register__btn-form {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.register__content-error {
  font-size: clamp(10px, 1.5vw, 14px);
  color: #ff0000;
  padding-bottom: 10px;
}

.login__password-reset {
  font-size: clamp(12px, 2vw, 14px);
  padding: 10px 0px 10px;
  width: 90%;
  margin: 0 auto;
}

.login__password-reset a {
  border-bottom: 1px solid #000000;
}

@media screen and (max-width:768px) {
  .register {
    width: 90%;
  }

  .register__content-ttl {
    width: 35%;
  }

  .register__content-item {
    width: 65%;
  }

.register__ttl {
  padding-bottom: 20px;
}
}

/*verify画面*/
.verify__btn {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.verify__send {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.verify__logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

/*サンクス画面*/
.thanks {
  width: 50%;
  margin: 0 auto;
  padding-top: 150px;
}

.thanks__inner {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 200px;
  height: 50vw;
  padding-top: 65px;
}

.thanks__txt {
  font-size: clamp(14px, 3.5vw, 20px);
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 30px;
}

.thanks__backbtn {
  width: 100px;
  background-color: #87c957;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width:768px) {
.thanks {
    width: 80%;
  }
}

/*会員登録完了画面*/
.thanks__inner--register {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 200px;
  height: 50vw;
  padding-top: 45px;
}

.thanks__txt--register {
  font-size: clamp(14px, 3.5vw, 20px);
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 30px;
}

.thanks__bottom--register {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 60%;
  max-width: 150px;
  font-size: clamp(12px, 3.5vw, 16px);
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .thanks {
    width: 80%;
  }
}

/*マイページ*/
.mypage {
  width: 80%;
  margin: 0 auto;
}

.mypage__username {
  font-size: clamp(18px, 3vw, 24px);
  padding-top: 80px;
}

.mypage__ttl {
  font-size: clamp(18px, 2.5vw, 24px);
  width: 25%;
}

.mypage__top {
  padding-top: 30px;
}

.mypage__bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.mypage__btn {
  width: 30%;
  max-width: 200px;
  min-width: 80px;
}

.mypage__update {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-weight: bold;
  font-size: clamp(12px, 2.5vw, 16px);
  cursor: pointer;
}

.mypage__delete {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-size: clamp(12px, 2.5vw, 16px);
  cursor: pointer;
}

.mypage__top-fav {
  display: flex;
  padding-top: 60px;
}

.mypage__fav-search-name {
  width: 25%;
  padding-left: 15px;
}

.mypage__fav-searchbox--name {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
}

.mypage__fav-search-area {
  width: 25%;
  padding-left: 15px;
}

.mypage__fav-searchbox--area {
  cursor: pointer;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.mypage__fav-search-btn {
  width: 100px;
  padding-left: 15px;
}

.mypage__fav-btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.mypage__fav-content {
  display: flex;
  padding-top: 40px;
  width: 100%;
  overflow: scroll;
  align-items: flex-start;
}

.mypage__fav-shop {
  width: 260px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  flex: 0 0 auto;
}

.mypage__fav-img img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mypage__fav-inner {
  padding: 10px;
}

.mypage__fav-shopcontent {
  display: flex;
  justify-content: space-between;
}

.mypage__fav-content-left {
  font-size: 12px;
  padding-top: 20px;
  width: 70%;
}

.result__fav--btn {
  width: 35px;
  padding-top: 20px;
}

.mypage__calendar-editcell {
  width: 3%;
  min-width: 20px;
  padding-left: 10px;
  text-align: center;
}

.mypage__calendar-fav--btn {
  max-width: 25px;
  min-width: 18px;
  width: 4vw;
}

.mypage__calendar-edit--btn {
  width: 40%;
}

.mypage__calendar__text {
  font-size: clamp(10px, 2.5vw, 16px);
  align-items: flex-end;
  width: 100%;
  padding-top: 10px;
}

@media screen and (max-width:768px) {
  .mypage {
    width: 90%;
  }

  .mypage__top-fav {
    display: inherit;
  }

  .mypage__ttl {
    width: 100%;
  }

  .mypage__fav-search-name {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    max-width: 400px;
  }

  .mypage__fav-search-area {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    max-width: 400px;
  }

  .mypage__fav-search-btn {
    padding-left: 0px;
    padding-top: 10px;
  }

  .detail__calendar-content {
    display: inherit;
  }

  .detail__calendar-left {
    width: 100%;
  }

  .detail__calendar-right {
    width: 100%;
  }

  .detail__calendar-comment {
    height: 100%;
  }
}

/*店舗作成(編集)ページ*/
.shopedit {
  width: 80%;
  margin: 50px auto 0px;
}

.shopedit__admin-bottom {
  padding: 20px 0px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.shopedit__admin-bottomleft {
  padding-bottom: 20px;
}

.shopedit__admin-changebtn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.shopedit__admin-deletebtn {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.shopedit__ttl-shopsetting {
  font-size: clamp(18px, 3vw, 24px);
  padding: 20px 0px;
}

.shopedit__shopsetting-content {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.shopedit__shopsetting-inner {
  margin: 0 auto;
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
  flex-wrap: wrap;
}

.shopedit__shopsetting-heading {
  width: 15%;
  padding-top: 20px;
}

.shopedit__shopsetting-input {
  width: 35%;
  padding-left: 10px;
  padding-top: 20px;
}

.shopedit__shopsetting-input input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  font-size: clamp(12px, 1.5vw, 16px);
}

.shopedit__shopsetting-input select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  cursor: pointer;
  font-size: clamp(12px, 1.5vw, 16px);
}

.shopedit__shopsetting-file {
  background-color: #87c957;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-size: clamp(12px, 1.8vw, 14px);
}

.shopedit__shopsetting-file input {
  display: none;
}

.shopedit__img-name {
  color: #000000;
  padding-top: 10px;
  font-size: clamp(12px, 1.8vw, 14px);
  word-break: break-all
}

.shopedit__shopsetting-tag-heading {
  padding: 20px 0px;
}

.shopedit__shopsetting-tags {
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width:768px) {
  .shopedit {
    width: 90%;
  }

  .shopedit__admin-heading {
    width: 40%;
  }

  .shopedit__admin-bottom {
    display: inherit;
    width: inherit;
  }

  .shopedit__shopsetting-inner {
    display: inherit;
    font-size: clamp(14px, 3vw, 16px);
  }

  .shopedit__shopsetting-heading {
    width: 100%;
  }
    
  .shopedit__shopsetting-input {
    width: 100%;
  }

  .shopedit__shopsetting-input input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .shopedit__shopsetting-input select {
    font-size: clamp(12px, 3vw, 16px);
  }

  .shopedit__shopsetting-tag-heading {
    font-size: clamp(14px, 3vw, 16px);
  }
}

/*管理者ページ*/
.admin {
  width: 80%;
  margin: 0 auto;
}

.admin__ttl-admin {
  padding-top: 80px;
  font-size: clamp(18px, 2.3vw, 24px);
  padding-bottom: 20px;
}

.admin__content-admin {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__admin-inner {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.admin__admin-left {
  width: 35%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
}

.admin__admin-right {
  width: 65%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
}

.admin__admin-heading {
  width: 25%;
}

.admin__admin-input {
  width: 75%;
}

.admin__admin-input input {
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.admin__admin-right input {
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.admin__admin-bottom {
  display: flex;
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.admin__admin-changebtn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.admin__admin-deletebtn {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.admin__top-item {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

.admin__ttl-shop {
  font-size: clamp(18px, 2.3vw, 24px);
  width: 15%;
}

.admin__shop-top {
  display: flex;
  width: 500px;
  padding-left: 20px;
}

.admin__shop-searchbox {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
}

.admin__shop-searchbox--area {
  cursor: pointer;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.admin__shop-name {
  width: 100%;
  padding-right: 20px;
}

.admin__shop-area {
  width: 100%;
  padding-right: 20px;
}

.admin__shop-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.admin__shop-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__shop-item {
  overflow: scroll;
  font-size: 14px;
}

.admin__shop-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__shop-item-shop {
  width: 200px;
  min-width: 200px;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-shop a{
  border-bottom: 1px solid #959595;
}

.admin__shop-item-area {
  width: 100px;
  min-width: 100px;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-address {
  width: 400px;
  min-width: 400px;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-shopadmin {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-btn {
  width: 100px;
  min-width: 100px;
}

.admin__shop-item-btn button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__ttl-user {
  width: 25%;
  font-size: clamp(18px, 2.3vw, 24px);
}

.admin__user-top {
  display: flex;
}

.admin__user-left {
  margin-left: 20px;
  width: 30%;
}

.admin__user-right {
  margin-left: 20px;
  width: 30%;
}

.admin__user-searchbox {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.admin__user-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.admin__user-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__user-item {
  overflow: scroll;
  font-size: 14px;
  height: 100%;
}

.admin__user-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__user-item-name {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-nickname {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-email {
  width: 250px;
  min-width: 250px;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-change {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-btn {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-change a {
  display: block;
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  text-align: center;
  padding-top: 2px;
}

.admin__user-item-btn button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__ttl-notice {
  padding: 30px 0px;
  font-size: clamp(18px, 2.3vw, 24px);
}

.admin__notice-content {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 30px;
}

.admin__notice-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__notice-item {
  overflow: scroll;
  font-size: 12px;
}

.admin__notice-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__notice-name {
  width: 200px;
  min-width: 200px;
  padding: 10px 10px 10px 0px;
}

.admin__notice-name input {
  width: 100%;
  height: 25px;
  font-size: 12px;
  border: none;
}

.admin__notice-update {
  width: 150px;
  min-width: 150px;
  padding: 10px 10px 10px 0px;
}

.admin__notice-add {
  width: 80px;
  min-width: 80px;
  padding: 10px 10px 10px 0px;
}

.admin__notice-add button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__notice-delete {
  width: 100px;
  min-width: 100px;
  padding: 10px 10px 10px 0px;
}

.admin__notice-delete button {
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding-bottom: 20px;
}



.admin__visited-search-btn {
  margin-left: 10px;
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

@media screen and (max-width:768px) {
  .admin {
    width: 90%;
  }

  .admin__admin-inner {
    display: inherit;
    padding: 20px;
  }

  .admin__admin-left {
    width: 100%;
    font-size: clamp(12px, 3vw, 16px);
    padding: 10px 0px;
  }

  .admin__admin-right {
    width: 100%;
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-heading {
    width: 35%;
  }

  .admin__admin-input {
    width: 65%;
  }

  .admin__admin-input input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-right input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-bottom {
    display: inherit;
    width: inherit;
  }

  .admin__admin-bottomleft {
    padding-bottom: 20px;
  }

  .admin__top-item {
    display: inherit;
  }

  .admin__ttl-shop {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(18px, 3vw, 24px);
  }

  .admin__shop-top {
    display: inherit;
    max-width: 400px;
    width: 100%;
    padding-left: 0px;
  }

  .admin__shop-name {
    padding: 0px;
    padding-bottom: 10px;
  }

  .admin__shop-area {
    padding: 0px;
    padding-bottom: 10px;
  }

  .admin__user-top {
    display: inherit;
  }

  .admin__ttl-user {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(18px, 3vw, 24px);
  }

  .admin__user-left {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .admin__user-right {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .admin__visited-search-btn {
    margin-left: 0px;
    width: 100px;
  }
}

/*評価編集ページ*/
.review__edit-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

/*旬カレンダー表示ページ*/
.calendar {
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
}

.calendar__ttl {
  font-size: clamp(18px, 2vw, 24px);
  display: flex;
  padding-bottom: 20px;
  align-items: flex-end;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.calendar__content {
  width: 100%;
  padding: 30px 0px;
}

.calendar__inner {
  background-color: #ffffff;
  border-radius: 5px;
  height: 100%;
  padding: 20px 0px;
  overflow: auto
}

.calendar__table{
  width: 500%;
  max-width: 2000px;
  font-size: clamp(12px, 2vw, 16px)
}

.calendar__table tr {
  height: clamp(20px, 2vw, 25px);
}

.calendar__headcell {
  padding-left: 20px;
  width: clamp(30px, 30vw, 300px);
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow: scroll;
  line-height: 2;
}

.calendar__colored {
  background-color: #87c957;
}

.calendar__colored2 {
  background-color: #DAEECB;
}

/*カレンダー追加・編集ページ*/
.register__content-item select {
  font-size: clamp(12px, 2vw, 16px);
}

.calendar__comment-ttl {
  vertical-align: top;
  font-size: clamp(12px, 2vw, 16px);
}

.register__content-comment {
  resize: none;
  width: 100%;
  height: 100px;
  font-size: clamp(12px, 2vw, 16px);
}