* {
  box-sizing: border-box;
  /*outline: 1px solid red !important;*/
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
}

body {
  background-color: #f4f2e9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*ヘッダー*/

.header {
  background-color: #87c957;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 5000;
}

.header__inner {
  padding: 0px 40px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__middle {
  font-size: 20px;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  padding: 0px 10px;
  max-width: 150px;
  min-width: 120px;
}

.header__logo img{
  width: 100%;
}

.header__menu--left {
  font-size: clamp(16px, 2vw, 18px);
  padding: 0px 10px;
}

.header__menu--right {
  font-size: clamp(16px, 2vw, 18px);
  text-align: right;
  padding: 0px 10px;
}

.header__menu-logout {
  font-size: clamp(16px, 2vw, 18px);
  border: none;
  background-color: transparent;;
  cursor: pointer;
}

.header__ham-menu {
  display: none;
}

.header__menubtn {
  display: none;
}

@media screen and (max-width:768px) {
  .header__inner {
    padding: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__middle {
    display: none;
  }

  .header__menu--left {
    display: none;
  }

  .header__menu--right {
    display: none;
  }

  .header__ham-menu.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f4f2e9;
    animation: slideIn 0.5s ease 1 normal backwards;
    padding-top: 200px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(1000px);
    }
    
    to {
      transform: translateX(0px);
    }
  }

  .header__list.active {
    padding: 0;
  }

  .header__ham-item {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    color: #87c957;
  }

  .header__menu-logout {
    font-size: 24px;
    color: #87c957;
    text-align: center;
  }

  .header__menubtn {
    display: inherit;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

  .header__menubtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 10px;
    height: 2px;
    background: #000000;
    width: 50%;
  }

  .header__menubtn span:nth-of-type(1) {
    top: 12px;
  }

  .header__menubtn span:nth-of-type(2) {
    top: 19px;
  }

  .header__menubtn span:nth-of-type(3) {
    top: 26px;
  }

  .header__menubtn.active span:nth-of-type(1) {
    top: 13px;
    left: 8px;
    transform: translateY(6px) rotate(-135deg);
    width: 60%;
  }

  .header__menubtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .header__menubtn.active span:nth-of-type(3) {
    top: 25px;
    left: 8px;
    transform: translateY(-6px) rotate(135deg);
    width: 60%;
  }
}

/*フッター*/
.footer {
  background-color: #3d3200;
  color: #ffffff;
  width: 100%;
  margin-top: auto;
}

.footer__content {
  padding: 30px 0px;
  width: 80%;
  margin: 0 auto;
}

.footer__txt {
  font-size: clamp(12px, 2.5vw, 20px);
  padding-bottom: 30px;
}

.footer__copyright {
  font-size: clamp(8px, 2.5vw, 14px);
  text-align: center;
}

@media screen and (max-width:768px) {
  .footer__content {
    width: 90%;
  }

  .footer__txt {
    padding-bottom: 20px;
  }
}

/*メイン画面*/
.search {
  background-color: #87c957;
}

.search__inner {
  padding: 100px 0px;
  width: 550px;
  margin: 0 auto;
}

.search__txt {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  padding: 10px 0px;
}

.search__logo {
  text-align: center;
  padding: 10px 0px;
}

.search__logo img{
  width: 80%;
}

.search__tabs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #87c957;
  border: 3px solid #ffffff;
  border-radius: 5px;
  height: 40px;
  text-align: center;
  margin: 20px 0px;
}

.search__tabs label {
  display: block;
  height: 100%;
  cursor: pointer;
  width: 34%;
}

.search__tabs input:checked+label {
  background-color: #ffffff;
}

.search__tabs input {
  display: none;
}

.search__tab-text {
  font-weight: bold;
  padding-top: 8px;
}

.search__contents {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

.search__tags {
  display: flex;
  flex-wrap: wrap;
}

.search__tag {
  width: 50%;
  padding-bottom: 20px;
}

.search__tag input[type=checkbox] {
  display: none;
}

.search__tag-label {
  display: inline-block;
  padding-left: 40px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.search__tag-label::before {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 5px;
  content: '';
  display: block;
  height: 16px;
  width: 16px;
  left: 10px;
  top: -2px;
}

.search__tag-label::after{
  position: absolute;
  border-right: 3px solid #87c957;
  border-bottom: 3px solid #87c957;
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  left: 16px;
  bottom: 3px;
  opacity: 0;
}

.search__tag input[type=checkbox]:checked + .search__tag-label::after {
  opacity: 1;
}

.search__btn {
  text-align: center;
}

.search__btn-form {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.search__areas {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.search__area {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 14px;
}

.search__keyword {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.search__keyword-input {
  width: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 14px;
  height: 40px;
}

.notice {
  padding: 40px 0px;
  width: 70%;
  margin: 0 auto;
}

.notice__ttl {
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 10px;
}

.notice__contents {
  display: flex;
  width: 100%;
  font-size: clamp(12px, 2vw, 18px);
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #555555;
}

.notice__date {
  width: 40%;
}

.notice__txt {
  width: 50%;
  padding-left: 10px;
}

.concept {
  background-image: url(../images/4829554_s.jpg);
  background-size: cover;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.concept__inner {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  width: 70%;
  display: flex;
  align-items: center;
}

.concept__content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
}

.concept__content-ttl {
  font-size: clamp(16px, 2.5vw, 24px);
  padding-bottom: 20px;
}

.concept__content-txt {
  font-size: clamp(10px, 1.8vw, 18px);
  padding-bottom: 5px;
}

@media screen and (max-width:768px) {
  .search__inner {
    width: 90%;
  }

  .search__logo img {
    width: 60%;
  }

  .search__txt {
    font-size: clamp(12px, 2.8vw, 18px);
  }

  .search__tabs {
    height: 10vw;
    max-height: 40px;
  }

  .search__tab-text {
    font-size: clamp(12px, 2.8vw, 16px);
  }

  .search__tags {
    display: inherit;
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .search__tag {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(14px, 2.8vw, 16px);
  }

  .search__tags.active {
    display: none;
  }

  .search__tag-label::before {
    position: absolute;
    height: 15px;
    width: 14px;
    left: 14px;
    top: -2px;
    border-radius: 5px;
  }

  .search__tag-label::after {
    position: absolute;
    border-right: 3px solid #87c957;
    border-bottom: 3px solid #87c957;
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    transform: rotate(45deg);
    left: 20px;
    bottom: 3px;
    opacity: 0;
  }

  .notice {
    padding: 20px 0px;
    width: 90%;
  }

  .notice__ttl {
    padding-bottom: 5px;
  }

  .concept {
    height: 400px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
  }

  .concept__inner {
    width: 90%;
  }

  .concept__content {
    padding-bottom: 20px;
    padding: 30px 0px;
  }

  .concept__content-ttl {
    padding-bottom: 20px;
  }
}

/*検索結果画面*/
.result {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}

.result__search {
  display: flex;
  width: 100%;
  padding: 20px 0px;
}

.result__searchtab--area {
  width: 25%;
  margin-right: 10px;
  position: relative;
}

.result__searchtab--area::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  left: 10px;
  top: 15px;
}

.result__searchbox--area {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 25px;
}

.result__searchtab--tag {
  width:  250px;
  margin-right: 10px;
}

.result__tag-first {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  font-size: 14px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  position: relative;
}

.result__tag-first::before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  left: 10px;
  top: 15px;
}

.result__tag-list {
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.result__searchbox--tag[type=checkbox] {
  display: none;
}

.result__tag-label {
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}

.result__tag-label::before {
  position: absolute;
  border: 2px solid #000000;
  border-radius: 3px;
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  left: 10px;
  top: 1px;
}

.result__tag-label::after {
  position: absolute;
  border-right: 3px solid #87c957;
  border-bottom: 3px solid #87c957;
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  transform: rotate(45deg);
  left: 15px;
  top: 2px;
  opacity: 0;
}

.result__searchbox--tag[type=checkbox]:checked+.result__tag-label::after {
  opacity: 1;
}

.result__searchtab--keyword {
  width: 35%;
  margin-right: 10px;
}

.result__searchbox--keyword {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 7px;
}

.result__search-btn {
  width: 10%;
  padding-top: 2px;
}

.result__btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.result__txt {
  font-size: clamp(14px, 2vw, 18px);
  padding: 20px 0px;
  border-bottom: 5px solid #87c957;
}

.result__txt-line {
  padding-bottom: 5px;
}

.result__main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;
}

.result__shop {
  width: 260px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  margin-bottom: 30px;
}

.result__shop-img img{
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.result__shop-inner {
  padding: 10px;
}

.result__shop-ttl {
  font-size: 18px;
}

.result__shop-content {
  display: flex;
  justify-content: space-between;
}

.result__content-left {
  font-size: 12px;
  padding-top: 20px;
  width: 70%;
}

.result__fav--btn {
  width: 35px;
  padding-top: 20px;
}

.result__paginate-txt {
  margin: 0 auto;
  text-align: center;
  width: 250px;
  font-size: 18px;
  padding: 5px 0px 10px 0px;
}

@media screen and (max-width:768px) {
  .result {
    width: 90%;
  }

  .result__search {
    display: inherit;
  }

  .result__searchtab--tag {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__searchtab--area {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__searchtab--keyword {
    width: 100%;
    padding-bottom: 10px;
    margin-right: 0px;
  }

  .result__search-btn {
    width: 150px;
    padding-top: 5px;
    margin: 0 auto;
  }

  .result__btn {
    width: 100%;
    background-color: #87c957;
    color: #ffffff;
    border: 1px solid #87c957;
    border-radius: 10px;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
}

/*詳細画面*/
.detail {
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}

.detail__back-btn {
  font-size: clamp(12px, 3vw, 18px);
  padding-bottom: 30px;
}

.detail__top {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 5px solid #87c957;
}

.detail__shop-name {
  font-size: clamp(18px, 3vw, 24px);
}

.detail__fav--btn {
  max-width: 40px;
  min-width: 25px;
  width: 5vw;
  margin-left: 10px;
}

.detail__shop-top {
  display: flex;
  padding: 30px 0px;
}

.detail__shop-img {
  width: 50%;
  margin: 0 auto;
}

.detail__shop-img img{
  max-width: 700px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.detail__shop-txt {
  width: 50%;
  margin: 0 auto;
  padding-left: 40px;
  font-size: clamp(12px, 1.5vw, 16px);
  line-height: 150%;
}

.detail__shop-info {
  background-color: #ffffff;
  border-radius: 5px;
}

.detail__shop-table {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: clamp(12px, 1.5vw, 16px);
  padding-top: 30px;
}

.detail__shop-item {
  width: 50%;
  padding: 20px;
  word-break: break-all
}

.detail__address {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  font-size: clamp(12px, 1.5vw, 16px);
}

.detail__map {
  margin: 0 auto;
}

.detail__map iframe {
  width: 100%;
  height: 300px;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.detail__middle {
  display: flex;
  padding: 30px 0px 30px;
}

.detail__review {
  width: 50%;
  padding-right: 20px;
}

.detail__review-top {
  display: flex;
  padding-bottom: 20px;
  align-items: flex-end;
}

.detail__review-ttl {
  font-size: clamp(16px, 1.5vw, 24px);
}

.detail__review-top-txt {
  padding-left: 30px;
  font-size: clamp(12px, 1.5vw, 18px);
}

.detail__review-content {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  height: 230px;
  overflow: scroll;
}

.detail__review-item {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
}

.detail__review-item:not(:last-child){
  border-bottom: 1px solid #000000;
}

.detail__review-user {
  font-size: clamp(16px, 1.5vw, 20px);
  padding-bottom: 10px;
}

.detail__review-star{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.detail__review-star input {
  display: none;
}

.detail__review-star input:checked~label {
  color: #ffcc00;
}

.detail__review-star label {
  padding: 0 2px;
  color: #eeeeee;
  font-size: clamp(14px, 2vw, 20px);
}

.detail__visited-date {
  font-size: 12px;
  padding-bottom: 10px;
}

.detail__review-comment {
  font-size: clamp(12px, 1.5vw, 14px);
  height: 70px;
  overflow: scroll;
}

.detail__review-date {
  padding: 10px 0px;
  font-size: 12px;

}

.detail__coupon {
  width: 50%;
}

.detail__coupon-ttl {
  font-size: clamp(16px, 1.5vw, 24px);
  padding-bottom: 20px;
}

.detail__coupon-content {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  height: 230px;
  overflow: scroll;
}

.detail__coupon-table {
  width: 90%;
  margin: 10px auto;
}

.detail__coupon-table tr:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.detail__coupon-table td {
  padding: 10px 0px;
}

.detail__table-ttl {
  width: 30%;
  font-size: clamp(12px, 1.5vw, 16px);
}

.detail__reservation-error {
  font-size: clamp(10px, 2vw, 14px);
  color: #ff0000;
  padding-bottom: 10px;
}

.detail__coupon-select {
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: clamp(12px, 1.5vw, 16px);
}

.detail__coupon-select select {
  overflow-wrap: break-word;
}

.detail__reservation-date input {
  cursor: pointer;
  border: none;
  font-size: clamp(12px, 1.5vw, 16px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.detail__reservation-time {
  border: none;
  cursor: pointer;
  font-size: clamp(12px, 1.5vw, 16px);
}

.detail__reservation-btn {
  text-align: center;
  margin: 0 auto;
  max-width: 100px;
  min-width: 70px;
  width: 20%;
}

.detail__btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: clamp(12px, 1.5vw, 16px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

@media screen and (max-width:768px) {
  .detail {
    width: 85%;
  }

  .detail__shop-top {
    display: inherit;

  }

  .detail__shop-img {
    width: 90%;
  }

  .detail__shop-txt {
    width: 100%;
    padding: 10px 0px 0px;
    font-size: clamp(12px, 3vw, 14px);
  }

  .detail__shop-table {
    display: inherit;
    padding-top: 15px;
    font-size: clamp(12px, 3vw, 14px);
  }

  .detail__shop-item {
    width: 100%;
    padding: 15px;
  }

  .detail__address {
    padding: 15px;
    font-size: clamp(12px, 3vw, 14px);
  }

  .detail__middle {
    display: inherit;
    padding: 0px;
  }

  .detail__review {
    width: 100%;
    padding-right: 0px;
    padding-top: 20px;
  }

  .detail__review-ttl {
    font-size: clamp(16px, 3vw, 20px);
  }

  .detail__review-user {
    font-size: clamp(16px, 3vw, 20px);
  }

  .detail__review-star label {
    font-size: clamp(14px, 3vw, 20px);
  }

  .detail__coupon {
    width: 100%;
    padding: 20px 0px 20px;
  }

  .detail__coupon-ttl {
    font-size: clamp(16px, 3vw, 20px);
  }

  .detail__table-ttl {
    font-size: clamp(12px, 3vw, 16px);
  }

  .detail__coupon-select {
    font-size: clamp(12px, 3vw, 16px);
  }

  .detail__reservation-date input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .detail__reservation-time {
    font-size: clamp(12px, 3vw, 16px);
  }
}

/*会員登録ページ*/
.register {
  width: 60%;
  padding-top: 100px;
  margin: 0 auto;
}

.register__ttl {
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 30px;
}

.register__content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
}

.register__inner {
  margin: 0 auto;
  width: 90%;
}

.register__inner td{
  padding: 10px 0px 10px;
}

.register__content-ttl {
  width: 30%;
  padding-right: 10px;
  font-size: clamp(12px, 2vw, 18px);
  vertical-align: middle;
}

.register__content-item {
  width: 70%;
}

.register__content-item input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  font-size: clamp(12px, 2vw, 18px);
}

.register__btn {
  width: 100%;
  padding: 30px 0px;
}

.register__btn-form {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.register__content-error {
  font-size: clamp(10px, 1.5vw, 14px);
  color: #ff0000;
  padding-bottom: 10px;
}

.login__password-reset {
  font-size: clamp(12px, 2vw, 14px);
  padding: 10px 0px 10px;
  width: 90%;
  margin: 0 auto;
}

.login__password-reset a {
  border-bottom: 1px solid #000000;
}

@media screen and (max-width:768px) {
  .register {
    width: 90%;
  }

  .register__content-ttl {
    width: 35%;
  }

  .register__content-item {
    width: 65%;
  }

.register__ttl {
  padding-bottom: 20px;
}
}

/*verify画面*/
.verify__btn {
  display: flex;
  padding-top: 20px;
  align-items: center;
}

.verify__send {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.verify__logout {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-left: 20px;
}

/*メール送信完了画面*/
.thanks {
  width: 50%;
  margin: 0 auto;
  padding-top: 150px;
}

.thanks__inner {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 200px;
  height: 50vw;
  padding-top: 65px;
}

.thanks__txt {
  font-size: clamp(14px, 3.5vw, 20px);
  margin: 0 auto;
  width: 80%;
  text-align: center;
}

@media screen and (max-width:768px) {
.thanks {
    width: 80%;
  }
}

/*会員登録完了画面*/
.thanks__inner--register {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  max-height: 200px;
  height: 50vw;
  padding-top: 45px;
}

.thanks__txt--register {
  font-size: clamp(14px, 3.5vw, 20px);
  margin: 0 auto;
  width: 80%;
  text-align: center;
  padding-bottom: 30px;
}

.thanks__bottom--register {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 60%;
  max-width: 150px;
  font-size: clamp(12px, 3.5vw, 16px);
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:768px) {
  .thanks {
    width: 80%;
  }
}

/*マイページ*/
.mypage {
  width: 80%;
  margin: 0 auto;
}

.mypage__username {
  font-size: clamp(18px, 3vw, 24px);
  padding-top: 80px;
}

.mypage__top {
  padding-top: 30px;
}

.mypage__top a {
  border-bottom: 1px solid #000000;
}

.mypage__top-reservation {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items:flex-end;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.mypage__ttl-reservation {
  font-size: clamp(18px, 2.5vw, 24px);
}

.mypage__txt-reservation {
  font-size: clamp(12px, 2vw, 18px);
  padding-left: 30px;
}

.mypage__reservation-content {
  display: flex;
  padding-top: 20px;
  width: 100%;
  overflow: scroll;
}

.mypage__reservation-card{
  width: 300px;
  background-color: #ffffff;
  border-radius: 5px;
  height: 270px;
  margin-right: 30px;
  flex: 0 0 auto;
}

.mypage__reservation-table {
  width: 80%;
  padding: 15px 0px;
  display: flex;
  margin: 0 auto;
}

.mypage__reservation-table tr {
  border-bottom: 1px solid #000000;
}

.mypage__reservation-table-ttl {
  width: 30%;
  font-size: 14px;
  padding: 15px 0px;
}

.mypage__reservation-table-content {
  width: 70%;
  font-size: 14px;
}

.mypage__reservation-select {
  width: 100%;
  border: none;
  cursor: pointer;
}

.mypage__reservation-date {
  border: none;
  cursor: pointer;
}

.mypage__reservation-time {
  border: none;
  cursor: pointer;
}

.mypage__reservation-bottom {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.mypage__reservation-btn {
  width: 40%;
}

.mypage__reservation-changebtn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
}

.mypage__reservation-deletebtn {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
}

.mypage__top-fav {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: flex-end;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.mypage__fav-ttl {
  font-size: clamp(18px, 2.5vw, 24px);
  width: 25%;
}

.mypage__fav-search-name {
  width: 25%;
  padding-left: 15px;
}

.mypage__fav-searchbox--name {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
}

.mypage__fav-search-area {
  width: 25%;
  padding-left: 15px;
}

.mypage__fav-searchbox--area {
  cursor: pointer;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.mypage__fav-search-btn {
  width: 100px;
  padding-left: 15px;
}

.mypage__fav-btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.mypage__fav-content {
  display: flex;
  padding-top: 40px;
  width: 100%;
  overflow: scroll;
  align-items: flex-start;
}

.mypage__fav-shop {
  width: 260px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  flex: 0 0 auto;
}

.mypage__fav-img img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mypage__fav-inner {
  padding: 10px;
}

.mypage__fav-shopcontent {
  display: flex;
  justify-content: space-between;
}

.mypage__fav-content-left {
  font-size: 12px;
  padding-top: 20px;
  width: 70%;
}

.result__fav--btn {
  width: 35px;
  padding-top: 20px;
}

.mypage__top-visited {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.mypage__visited-ttl {
  font-size: clamp(18px, 2.5vw, 24px);
  width: 15%;
}

.mypage__visited-search-na {
  width: 30%;
  padding-left: 20px;
}

.mypage__visited-search-name {
  width: 100%;
  padding-bottom: 10px;
}

.mypage__visited-searchbox--name {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
}

.mypage__visited-search-area {
  width: 100%;
}

.mypage__visited-searchbox--area {
  cursor: pointer;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.mypage__visited-search-date {
  width: 35%;
  padding-left: 10px;
  text-align: right;
}

.mypage__visited-search-from {
  font-size: 14px;
  width: 100%;
  padding-bottom: 10px;
}

.mypage__visited-search-from input {
  width: 70%;
  font-size: 14px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.mypage__visited-search-to {
  width: 100%;
  font-size: 14px;
}

.mypage__visited-search-to input {
  width: 70%;
  font-size: 14px;
  height: 25px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.mypage__visited-search-btn {
  width: 130px;
  padding-left: 45px;
}

.mypage__visited-btn {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.mypage__visited-content {
  display: flex;
  padding-top: 40px;
  width: 100%;
  overflow: scroll;
  align-items: flex-start;
}

.mypage__visited-shop {
  width: 260px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 30px;
  flex: 0 0 auto;
}

.mypage__visited-img img {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.mypage__visited-inner {
  padding: 10px;
}

.mypage__visited-shopcontent {
  display: flex;
  justify-content: space-between;
}

.mypage__visited-content-left {
  font-size: 12px;
  padding-top: 20px;
  width: 70%;
}

.mypage__top-review {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: flex-end;
  width: 100%;
  border-bottom: 3px solid #87c957;
}

.mypage__ttl-review {
  font-size: clamp(18px, 2.5vw, 24px);
}

.mypage__txt-review {
  padding-left: 30px;
}

.mypage__review-inner {
  margin: 20px 0px;
  height: 400px;
  width: 100%;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 5px;
}

.mypage__review-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.mypage__review-content:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.mypage__review-left {
  width: 40%;
}

.mypage__review-shopttl {
  font-size: clamp(14px, 3vw, 18px);
  padding: 10px 0px;
  overflow: hidden;
}

.mypage__review-star {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.mypage__review-star label {
  padding: 0 2px;
  color: #eeeeee;
  font-size: clamp(14px, 2vw, 24px);
}

.mypage__review-star input{
  display: none;
}

.mypage__review-star input:checked ~ label {
  color: #ffcc00;
}

.mypage__review-date {
  padding-top: 5px;
  font-size: clamp(10px, 2vw, 14px);
}

.mypage__review-right {
  width: 60%;
}

.mypage__review-comment {
  font-size: clamp(10px, 2vw, 14px);
  padding: 10px 0px;
  height: 80%;
  overflow: scroll;
}

.mypage__review-bottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.mypage__review-update {
  margin-right: 10px;
  font-size: clamp(10px, 2vw, 14px);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.mypage__review-delete button{
  font-size: clamp(10px, 2vw, 14px);
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.mypage__content-error {
  font-size: 10px;
  color: #ff0000;
  padding-bottom: 10px;
}

@media screen and (max-width:768px) {
  .mypage__top-reservation {
    padding-top: 30px;
  }

  .mypage__top-fav {
    display: inherit;
  }

  .mypage__fav-ttl {
    width: 100%;
  }

  .mypage__fav-search-name {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    max-width: 400px;
  }

  .mypage__fav-search-area {
    width: 100%;
    padding-left: 0px;
    padding-top: 10px;
    max-width: 400px;
  }

  .mypage__fav-search-btn {
    padding-left: 0px;
    padding-top: 10px;
  }

  .mypage__top-visited {
    display: inherit;
    padding-top: 30px;
  }

  .mypage__visited-ttl {
    width: 100%;
    padding-bottom: 20px;
  }

  .mypage__visited-search-na {
    width: 60%;
    min-width: 250px;
    padding-left: 0px;
    padding-bottom: 10px;
  }

  .mypage__visited-search-date {
    width: 60%;
    min-width: 250px;
    padding-left: 0px;
    text-align: start;
    line-height: 150%;
  }

  .mypage__visited-search-from {
    font-size: 14px;
    width: 100%;
    padding-bottom: 0px;
  }

  .mypage__review-content {
    display: inherit;
  }

  .mypage__visited-search-from input {
    width: 100%;
  }

  .mypage__visited-search-to input {
    width: 100%;
  }

  .mypage__visited-search-btn {
    padding-left: 0px;
    padding-top: 10px;
    width: 100px;
  }

  .mypage__review-left {
    width: 100%;
  }

  .mypage__review-right {
    width: 100%;
  }

  .mypage__review-comment {
    height: 100%;
  }
}

/*レビュー作成画面*/
.evaluation {
  width: 60%;
  padding-top: 100px;
  margin: 0 auto;
}

.evaluation__ttl {
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 30px;
}

.evaluation__content {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
}

.evaluation__inner {
  margin: 0 auto;
  width: 90%;
}

.evaluation__inner td {
  padding: 10px 0px 10px;
}

.evaluation__content-ttl {
  width: 30%;
  padding-right: 10px;
  font-size: clamp(12px, 2vw, 18px);
  vertical-align: top;
}

.evaluation__content-item {
  width: 70%;
  font-size: clamp(12px, 2vw, 18px);
}

.evaluation__content-item input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #000000;
  font-size: clamp(12px, 2vw, 18px);
}

.evaluation__content-form {
  font-size: clamp(12px, 2vw, 14px);
}

.evaluation__btn {
  width: 100%;
  padding: 30px 0px;
}

.evaluation__btn-form {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.evaluation__content-error {
  font-size: clamp(10px, 2vw, 14px);
  color: #ff0000;
  padding-bottom: 10px;
}

.evaluation__content-form {
  width: 100%;
  height: 100px;
  resize: none;
}

.rate-form {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.rate-form input {
  display: none;
}

.rate-form label {
  padding: 0 2px;
  color: #eeeeee;
  cursor: pointer;
  font-size: clamp(14px, 2vw, 20px);
}

.rate-form label:hover~label {
  color: #ffcc00;
}

.rate-form input:checked~label {
  color: #ffcc00;
}

@media screen and (max-width:768px) {
  .evaluation {
    width: 90%;
  }

  .evaluation__content-ttl {
    width: 35%;
  }

  .evaluation__content-item {
    width: 65%;
  }

  .evaluation__ttl {
    padding-bottom: 20px;
  }
}

/*ユーザー情報変更・削除*/
.settings__bottom {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.settings__btn {
  width: 100px;
}

.settings__update {
  width: 100%;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
}

.settings__delete {
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 5px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
}

/*店舗管理ページ*/
.shopadmin {
  width: 80%;
  margin: 0 auto;
}

.shopadmin__ttl-admin {
  padding-top: 80px;
  font-size: clamp(18px, 3vw, 24px);
  padding-bottom: 20px;
}

.shopadmin__content-admin {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.shopadmin__admin-inner {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}

.shopadmin__admin-item {
  width: 50%;
  font-size: clamp(12px, 1.8vw, 18px);
  display: flex;
}

.shopadmin__admin-item input{
  width: 60%;
  font-size: clamp(12px, 1.8vw, 18px);
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 10px;
}

.shopadmin__admin-bottom {
  display: flex;
  padding: 20px 0px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.shopadmin__admin-changebtn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.shopadmin__admin-deletebtn {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.shopadmin__ttl-shopsetting {
  font-size: clamp(18px, 3vw, 24px);
  padding: 20px 0px;
}

.shopadmin__shopsetting-content {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px 0px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.shopadmin__shopsetting-inner {
  margin: 0 auto;
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
  flex-wrap: wrap;
}

.shopadmin__shopsetting-heading {
  width: 15%;
  padding-top: 20px;
}

.shopadmin__shopsetting-input {
  width: 35%;
  padding-left: 10px;
  padding-top: 20px;
}

.shopadmin__shopsetting-input input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  font-size: clamp(12px, 1.5vw, 16px);
}

.shopadmin__shopsetting-input select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  width: 90%;
  cursor: pointer;
  font-size: clamp(12px, 1.5vw, 16px);
}

.shopadmin__shopsetting-file {
  background-color: #87c957;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  cursor: pointer;
  font-size: clamp(12px, 1.8vw, 14px);
}

.shopadmin__shopsetting-file input {
  display: none;
}

.shopadmin__img-name {
  color: #000000;
  padding-top: 10px;
  font-size: clamp(12px, 1.8vw, 14px);
  word-break: break-all
}

.shopadmin__shopsetting-tag-heading {
  padding: 20px 0px;
}

.shopadmin__shopsetting-tags {
  margin: 0 auto;
  width: 90%;
}

.shopadmin__shopsetting-overview {
  margin: 0 auto;
  width: 90%;
  display: flex;
  align-items: baseline;
  font-size: clamp(12px, 1.5vw, 16px);
  padding-top: 20px;
}

.shopadmin__shopsetting-overview label {
  width: 15%;
}

.shopadmin__shopsetting-overview textarea {
  width: 85%;
  resize: none;
  height: 100px;
}

.shopadmin__shop-btn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.shopadmin__shop-bottom {
  display: flex;
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.shopadmin__shop-btn--update {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.shopadmin__shop-btn--delete {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
}

.shopadmin__top-reservation {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

.shopadmin__ttl-reservation {
  font-size: clamp(18px, 2.5vw, 24px);
  width: 15%;
}

.shopadmin__reservation-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.shopadmin__reservation-inner {
  table-layout: fixed;
  min-width: 100%;
}

.shopadmin__reservation-item {
  overflow: scroll;
  font-size: 14px;
}

.shopadmin__reservation-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.shopadmin__reservation-item-name {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.shopadmin__reservation-item-date {
  width: 250px;
  min-width: 250px;
  overflow: scroll;
  padding-right: 10px;
}

.shopadmin__reservation-item-coupon {
  width: 300px;
  min-width: 300px;
  overflow: scroll;
  padding-right: 10px;
}

.shopadmin__reservation-item-reservation {
  width: 250px;
  min-width: 250px;
  overflow: scroll;
  padding-right: 10px;
}

.shopadmin__reservation-item-btn {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
}

.shopadmin__reservation-item-btn button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.shopadmin__ttl-coupon {
  padding: 30px 0px;
  font-size: clamp(18px, 3vw, 24px);
}

.shopadmin__coupon-content {
  min-width: 40%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 30px;
}

.shopadmin__coupon-inner {
  table-layout: fixed;
  min-width: 100%;
}

.shopadmin__coupon-item {
  overflow: scroll;
  font-size: 12px;
}

.shopadmin__coupon-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.shopadmin__coupon-name {
  width: 300px;
  min-width: 300px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.shopadmin__coupon-name input {
  width: 100%;
  height: 25px;
  font-size: 12px;
  border: none;
}

.shopadmin__coupon-add {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.shopadmin__coupon-add button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.shopadmin__coupon-delete {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.shopadmin__coupon-delete button{
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding-bottom: 20px;
}

@media screen and (max-width:768px) {
  .shopadmin {
    width: 90%;
  }

  .shopadmin__admin-inner {
    display: inherit;
  }

  .shopadmin__admin-item {
    padding: 10px 0px;
    width: 90%;
  }

  .shopadmin__admin-heading {
    width: 40%;
  }
  .shopadmin__admin-item input {
    width: 60%;
  }

  .shopadmin__admin-bottom {
    display: inherit;
    width: inherit;
  }

  .shopadmin__admin-bottomleft {
    padding-bottom: 20px;
  }

  .shopadmin__shopsetting-inner {
    display: inherit;
    font-size: clamp(14px, 3vw, 16px);
  }

  .shopadmin__shopsetting-heading {
    width: 100%;
  }
    
  .shopadmin__shopsetting-input {
    width: 100%;
  }

  .shopadmin__shopsetting-input input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .shopadmin__shopsetting-input select {
    font-size: clamp(12px, 3vw, 16px);
  }

  .shopadmin__shopsetting-tag-heading {
    font-size: clamp(14px, 3vw, 16px);
  }

  .shopadmin__shopsetting-overview {
    font-size: clamp(14px, 3vw, 16px);
    display: inherit;
  }

  .shopadmin__shopsetting-overview textarea {
    width: 90%;
    margin-top: 10px;
  }

  .shopadmin__top-reservation {
    display: inherit;
  }

  .shopadmin__ttl-reservation {
    padding-bottom: 10px;
    width: 100%;
  }
}

/*管理者ページ*/
.admin {
  width: 80%;
  margin: 0 auto;
}

.admin__ttl-admin {
  padding-top: 80px;
  font-size: clamp(18px, 2.3vw, 24px);
  padding-bottom: 20px;
}

.admin__content-admin {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__admin-inner {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
}

.admin__admin-left {
  width: 35%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
}

.admin__admin-right {
  width: 65%;
  font-size: clamp(12px, 1.5vw, 18px);
  display: flex;
}

.admin__admin-heading {
  width: 25%;
}

.admin__admin-input {
  width: 75%;
}

.admin__admin-input input {
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.admin__admin-right input {
  width: 90%;
  font-size: clamp(12px, 1.5vw, 18px);
  border-bottom: 1px solid #000000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.admin__admin-bottom {
  display: flex;
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.admin__admin-changebtn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.admin__admin-deletebtn {
  width: 150px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.admin__shop-btn {
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 35px;
  width: 150px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px auto;
  display: block;
}

.admin__shop-bottom {
  display: flex;
  padding-top: 20px;
  width: 400px;
  margin: 0 auto;
  justify-content: space-between;
}

.admin__top-item {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

.admin__ttl-shop {
  font-size: clamp(18px, 2.3vw, 24px);
  width: 15%;
}

.admin__shop-top {
  display: flex;
  width: 500px;
  padding-left: 20px;
}

.admin__shop-searchbox {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
}

.admin__shop-searchbox--area {
  cursor: pointer;
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  color: #777777;
  padding-left: 10px;
}

.admin__shop-name {
  width: 100%;
  padding-right: 20px;
}

.admin__shop-area {
  width: 100%;
  padding-right: 20px;
}

.admin__shop-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.admin__shop-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__shop-item {
  overflow: scroll;
  font-size: 14px;
}

.admin__shop-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__shop-item-shop {
  width: 200px;
  min-width: 200px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-area {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-address {
  width: 400px;
  min-width: 400px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-shopadmin {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shop-item-btn {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
}

.admin__shop-item-btn button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__ttl-shopadmin {
  font-size: clamp(18px, 2.3vw, 24px);
  width: 25%;
}

.admin__shopadmin-left {
  margin-left: 20px;
  width: 30%;
}

.admin__shopadmin-right {
  width: 30%;
  margin-left: 20px;
}

.admin__shopadmin-searchbox {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.admin__shopadmin-top {
  display: flex;
}

.admin__shopadmin-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.admin__shopadmin-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__shopadmin-item {
  overflow: scroll;
  font-size: 14px;
  height: 100%;
}

.admin__shopadmin-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__shopadmin-item-name {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shopadmin-item-shop {
  width: 250px;
  min-width: 250px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shopadmin-item-email {
  width: 250px;
  min-width: 250px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shopadmin-item-change {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shopadmin-item-change a{
  display: block;
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  text-align: center;
  padding-top: 2px;
}

.admin__shopadmin-item-btn {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__shopadmin-item-btn button{
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__ttl-user {
  width: 25%;
  font-size: clamp(18px, 2.3vw, 24px);
}

.admin__user-top {
  display: flex;
}

.admin__user-left {
  margin-left: 20px;
  width: 30%;
}

.admin__user-right {
  margin-left: 20px;
  width: 30%;
}

.admin__user-searchbox {
  width: 100%;
  height: 25px;
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 2px #c6c6c6;
  border-radius: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.admin__user-content {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.admin__user-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__user-item {
  overflow: scroll;
  font-size: 14px;
  height: 100%;
}

.admin__user-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__user-item-name {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-nickname {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-email {
  width: 250px;
  min-width: 250px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-change {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-btn {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__user-item-change a {
  display: block;
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  text-align: center;
  padding-top: 2px;
}

.admin__user-item-btn button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__ttl-notice {
  padding: 30px 0px;
  font-size: clamp(18px, 2.3vw, 24px);
}

.admin__notice-content {
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding: 20px;
  height: 300px;
  overflow: scroll;
  margin-bottom: 30px;
}

.admin__notice-inner {
  table-layout: fixed;
  min-width: 100%;
}

.admin__notice-item {
  overflow: scroll;
  font-size: 12px;
}

.admin__notice-item:not(:last-child) {
  border-bottom: 1px solid #000000;
}

.admin__notice-name {
  width: 200px;
  min-width: 200px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__notice-name input {
  width: 100%;
  height: 25px;
  font-size: 12px;
  border: none;
}

.admin__notice-update {
  width: 150px;
  min-width: 150px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__notice-add {
  width: 80px;
  min-width: 80px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__notice-add button {
  width: 80px;
  background-color: #87c957;
  color: #ffffff;
  border: 1px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
}

.admin__notice-delete {
  width: 100px;
  min-width: 100px;
  overflow: scroll;
  padding: 10px 10px 10px 0px;
}

.admin__notice-delete button {
  width: 80px;
  background-color: #ffffff;
  color: #000000;
  border: 3px solid #87c957;
  border-radius: 10px;
  height: 25px;
  font-size: clamp(12px, 3.5vw, 14px);
  cursor: pointer;
  box-shadow: 0px 2px 2px #c6c6c6;
  padding-bottom: 20px;
}

@media screen and (max-width:768px) {
  .admin {
    width: 90%;
  }

  .admin__admin-inner {
    display: inherit;
    padding: 20px;
  }

  .admin__admin-left {
    width: 100%;
    font-size: clamp(12px, 3vw, 16px);
    padding: 10px 0px;
  }

  .admin__admin-right {
    width: 100%;
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-heading {
    width: 35%;
  }

  .admin__admin-input {
    width: 65%;
  }

  .admin__admin-input input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-right input {
    font-size: clamp(12px, 3vw, 16px);
  }

  .admin__admin-bottom {
    display: inherit;
    width: inherit;
  }

  .admin__admin-bottomleft {
    padding-bottom: 20px;
  }

  .admin__top-item {
    display: inherit;
  }

  .admin__ttl-shop {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(18px, 3vw, 24px);
  }

  .admin__ttl-shopadmin {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(18px, 3vw, 24px);
  }

  .admin__shop-top {
    display: inherit;
    max-width: 400px;
    width: 100%;
    padding-left: 0px;
  }

  .admin__shop-name {
    padding: 0px;
    padding-bottom: 10px;
  }

  .admin__shop-area {
    padding: 0px;
    padding-bottom: 10px;
  }

  .admin__shopadmin-top {
    display: inherit;
    max-width: 400px;
    width: 100%;
    padding-left: 0px;
  }

  .admin__shopadmin-left {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .admin__shopadmin-right {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .admin__user-top {
    display: inherit;
  }

  .admin__ttl-user {
    padding-bottom: 20px;
    width: 100%;
    font-size: clamp(18px, 3vw, 24px);
  }

  .admin__user-left {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  .admin__user-right {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
}

/*評価編集ページ*/
.review__edit-inner {
  height: 200px;
  width: 80%;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 100px auto;
}

.review__edit-content {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  height: 150px;
}

/*店舗編集ページ*/
.shopedit {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}